In [59]:
 import numpy as np

# Basics

In [25]:
a = np.array([1,2,3,4], dtype="int32")
print(a)

[1 2 3 4]

In [12]:
b = np.array([[9.9, 7.8, 3.4, 6.0], [3.4,6.8, 11.2, 55.0]])
print(b)

[[ 9.9  7.8  3.4  6. ]
 [ 3.4  6.8 11.2 55. ]]

In [13]:
#get dimension of array
a.ndim

1

In [15]:
# get shape
b.shape

(2, 4)

In [19]:
# get type
a.dtype

dtype('int16')

In [23]:
#get size in bytes
a.itemsize

4

In [27]:
#get total size in bytes
a.nbytes

16

In [29]:
#get no of elements in an array
a.size

4

# Accessing/Changing specific elements, rows, col, etc

In [30]:
a = np.array([[1,2,3,4,5,6,7,8], [44,33,22,11,55,66,77,88]])
print(a)

[[ 1  2  3  4  5  6  7  8]
 [44 33 22 11 55 66 77 88]]

In [32]:
#get speicific element [r,c]
print(a[1,3])
print(a[0,-2])

11
7

In [34]:
# Get a specific row only
print(a[0 , :])
print(a[1 , :])

[1 2 3 4 5 6 7 8]
[44 33 22 11 55 66 77 88]

In [35]:
# get specific column
print(a[:,2])

[ 3 22]

In [41]:
# [ start:end:step]
print(a[0, 1:6:2])
print(a[1, 2:-3:2])

[2 4 6]
[22 55]

In [42]:
#assigning values
a[1,2] = 9
print(a)

[[ 1  2  3  4  5  6  7  8]
 [44 33  9 11 55 66 77 88]]

In [45]:
#changing values of entire colunm
a[:, 4] = [222,111]
print(a)

[[  1   2   3   4 222   6   7   8]
 [ 44  33   9  11 111  66  77  88]]

# 3D array

In [48]:
a= np.array([[[1,2,3],[4,5,6]], [[7,8,9],[11,12,13]]])
print(a)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [11 12 13]]]

In [50]:
#GET specific element
print(a[0,0,1])
print(a[1,1,2])

2
13

In [51]:
#changing value
a[:,1,:] = [[10,10,10],[100,100,100]]
a

array([[[  1,   2,   3],
        [ 10,  10,  10]],

       [[  7,   8,   9],
        [100, 100, 100]]])

# Initializing different types of arrays

In [54]:
#All 0s array
#np.zeros((shape), dtype)
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [55]:
#All 1s array
np.ones((4,2), dtype="int32")

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [56]:
#Any other number
#np.full((shape), value, dtype)
np.full((2,2),99)

array([[99, 99],
       [99, 99]])

In [57]:
#any other number with the size of like any other array

a = np.array([[1,2,3,4,5,6,7,8], [44,33,22,11,55,66,77,88]])
np.full_like(a, 11)

array([[11, 11, 11, 11, 11, 11, 11, 11],
       [11, 11, 11, 11, 11, 11, 11, 11]])

In [62]:
#random decimal numbers
np.random.rand(3,3,3)

array([[[0.44073893, 0.28063162, 0.35687888],
        [0.05959926, 0.51809579, 0.17110265],
        [0.49651645, 0.00421228, 0.04468444]],

       [[0.98192695, 0.93893351, 0.7807831 ],
        [0.09135567, 0.57996464, 0.06923682],
        [0.14587584, 0.06932491, 0.26502699]],

       [[0.80306212, 0.00731041, 0.40348254],
        [0.7330418 , 0.07075515, 0.02645052],
        [0.10940585, 0.9651377 , 0.96238556]]])

In [65]:
# Random integer values
#np.random.randint(start,end,size=(a,b))
np.random.randint(2,7, size=(3,3))

array([[4, 5, 5],
       [4, 3, 3],
       [2, 6, 4]])