In [2]:
import pandas as pd

C:\Users\Harsh Raj\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# Data Reading

In [3]:
#Reading data from a csv
df = pd.read_csv("data.csv")

In [4]:
#Print the top 5 values from the dataframe
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [5]:
#Print the bottom 5 values from the dataframe
df.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [6]:
#Find the size of the dataframe (rows*columns)
df.shape

(32, 5)

In [7]:
#Get all the names of the columns
df.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [8]:
#Accessing data from only a particular column
df["Pulse"]

0     110
1     117
2     103
3     109
4     117
5     102
6     110
7     104
8     109
9      98
10    103
11    100
12    100
13    106
14    104
15     98
16     98
17    100
18     90
19    103
20     97
21    108
22    100
23    130
24    105
25    102
26    100
27     92
28    103
29    100
30    102
31     92
Name: Pulse, dtype: int64

# Indexing

### Achieved by indexing the data frame using the iloc function just like slicing.
### df.iloc[row_start : row_end , col_start : col_end]

In [14]:
# SELECTING ONLY THE ROWS BASED ON THE INDEX
df.iloc[:8]

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3

In [15]:
# SELECTING ONLY THE COLUMNS BASED ON THE INDEX

df.iloc[:,:3]

    Duration          Date  Pulse
0         60  '2020/12/01'    110
1         60  '2020/12/02'    117
2         60  '2020/12/03'    103
3         45  '2020/12/04'    109
4         45  '2020/12/05'    117
5         60  '2020/12/06'    102
6         60  '2020/12/07'    110
7        450  '2020/12/08'    104
8         30  '2020/12/09'    109
9         60  '2020/12/10'     98
10        60  '2020/12/11'    103
11        60  '2020/12/12'    100
12        60  '2020/12/12'    100
13        60  '2020/12/13'    106
14        60  '2020/12/14'    104
15        60  '2020/12/15'     98
16        60  '2020/12/16'     98
17        60  '2020/12/17'    100
18        45  '2020/12/18'     90
19        60  '2020/12/19'    103
20        45  '2020/12/20'     97
21        60  '2020/12/21'    108
22        45           NaN    100
23        60  '2020/12/23'    130
24        45  '2020/12/24'    105
25        60  '2020/12/25'    102
26        60      20201226    100
27        60  '2020/12/27'     92
28        60  '2020/12/28'    103
29        60  '2020/12/29'    100
30        60  '2020/12/30'    102
31        60  '2020/12/31'     92

In [21]:
# Indexing based on some condition
df[df["Pulse"] == 98]

    Duration          Date  Pulse  Maxpulse  Calories
9         60  '2020/12/10'     98       124     269.0
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2